.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(2deg, #2196f394 -12%, transparent);
}

.vessel-item {
    height: 400px;
}

.vessel-item img {
    height: 100%;
    width: 100%;
}

#specifications table td {
    display: flex;
}

.hover-shadow-lg:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}


.parallax-container {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.material-parallax {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: 0;
    z-index: 0;
    background-position: center center;
}

.parallax-content {
    position: relative;
    z-index: 1;
}

.material-parallax img {
    /* display: none; */
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 101%;
    min-height: 101%;
    max-width: none;
    transform: translate3d(-50%, 0, 0);
}

/* ******slider animation css starts******* */
.owl-carousel {
    display: block!important;
}
.sidernw .item {
    height: 100vh;
    position: relative;
  }
  .sidernw .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sidernw .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
  }
  .sidernw .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
  }
  .sidernw .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    background: transparent!important;
  }
  .sidernw .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff!important;
  }
  .sidernw .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff!important;
  }
  .sidernw .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff!important;
  }
  .sidernw .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
  }
  .sidernw .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
  }
  .sidernw .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
  }
  .sidernw .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
  }
  .sidernw .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }
  .sidernw .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
  }
  .sidernw .owl-nav .owl-prev:focus {
    outline: 0;
  }
  .sidernw .owl-nav .owl-prev:hover {
    background: #000 !important;
  }
  .sidernw .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }
  .sidernw .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
  }
  .sidernw .owl-nav .owl-next:focus {
    outline: 0;
  }
  .sidernw .owl-nav .owl-next:hover {
    background: #000 !important;
  }
  .sidernw:hover .owl-prev {
    left: 0px;
    opacity: 1;
  }
  .sidernw:hover .owl-next {
    right: 0px;
    opacity: 1;
  }
  .sidernw .slide-button {
    min-width: 200px;
    padding: 17px 18px 15px;
    border: 2px solid #fff;
    width: 200px;
    text-align: center;
}
.row.hover-shadow-lg.py-4 {
    overflow: hidden;
    border: 1px solid #ccc;
}
.specification tr td {
    text-align: right;
    color: #fff;
}
.specification tr {
    border-bottom: 1px solid #2196f3;
    height: 50px;
    color: #fff;
}
/* ******slider animation css ends******* */